/******* HOME SECTION *******/
.section--text-center {
  text-align: center;
}

.section__grid {
  display: grid;
  gap: 5rem;
}

.section__image {
  width: 100%;
  border-radius: 0;
}

.section__title {
  font-size: 5rem;
}

.section__subtitle {
  font-weight: 300;
  font-size: 2rem;
}

.section__text {
  font-weight: 300;
  font-size: 2rem;
}