body {
    background-color: var(--color-white);
}

.container {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    background-color: lawngreen;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-red);
}